{# override form_div_layout.html.twig #}

{% block form %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock form %}

{% block form_row %}
    {% spaceless %}
        <div class="form-group">
            {{ form_label(form) }}
            <div class="col-sm-4">
                {{ form_widget(form) }}
            </div>
            <div class="col-sm-4 form-errors">
                {{ form_errors(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block form_label %}
    {% if label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% if label_format is not empty %}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {% else %}
                {% set label = name|humanize %}
            {% endif %}
        {% endif %}
        {% set label_attr = label_attr|merge({'class': 'col-sm-4 control-label'}) %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
    {% endif %}
{% endblock form_label %}

{% block form_widget_simple %}
    {% set type = type|default('text') %}
    <input type="{{ type }}" class="{{ form.vars.attr.class|default ~ ' form-control' }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endblock form_widget_simple %}

{% block choice_widget %}
    {% if expanded %}
        {{ block('choice_widget_expanded') }}
    {% else %}
        {% set attr = attr|merge({'class': 'form-control'}) %}
        {{ block('choice_widget_collapsed') }}
    {% endif %}
{% endblock choice_widget %}

{% block choice_widget_expanded %}
    <div {{ block('widget_container_attributes') }}>
        {% for child in form %}
            {% if multiple %}
                {{ form_widget(child) }}
                {{ form_label(child) }}
            {% else %}
                <label class="radio-inline">{{ form_widget(child) }} {{ child.vars.label|trans }}</label>
            {% endif %}
        {% endfor %}
    </div>
{% endblock choice_widget_expanded %}

{% block submit_widget %}
    {% set type = type|default('submit') %}
    {{ block('button_widget') }}
{% endblock submit_widget %}

{% block button_widget %}
    {% if label is empty %}
        {% if label_format is not empty %}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {% else %}
            {% set label = name|humanize %}
        {% endif %}
    {% endif %}
    {% set attr = attr|merge({'class': 'btn'}) %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button>
{% endblock button_widget %}

{% block checkbox_widget %}
    {% spaceless %}
        <div class="checkbox">
            <label>
                <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            </label>
        </div>
    {% endspaceless %}
{% endblock checkbox_widget %}

{% block form_errors %}
    {% if errors|length > 0 %}
        <ul>
            {% for error in errors %}
                <li>{{ error.message|trans }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock form_errors %}

