{% extends 'KingdomHallMainBundle:Layout:layout-page.html.twig' %}

{% block content_header %}
    {% trans %}jwkh.territories.list.content_header{% endtrans %}
{% endblock content_header %}

{% block content_body %}
    <ul class="nav nav-tabs">
        <li role="presentation" class="{% if type == 'standard' %}active{% endif %}"><a href="{{ path('kingdom_hall_territories_list', {'congregationCode': congregation.code, 'type': 'standard'}) }}">{% trans %}jwkh.entity.territory.standard{% endtrans %}</a></li>
        <li role="presentation" class="{% if type == 'campaign' %}active{% endif %}"><a href="{{ path('kingdom_hall_territories_list', {'congregationCode': congregation.code, 'type': 'campaign'}) }}">{% trans %}jwkh.entity.territory.campaign{% endtrans %}</a></li>
    </ul>
    <div id="territoryListToolbar" class="btn-group ">
        <button id="newTerritoryButton" type="button" class="btn btn-default">
            <i class="glyphicon glyphicon-plus"></i>
        </button>
        <button id="removeTerritoryButton" type="button" class="btn btn-default">
            <i class="glyphicon glyphicon-trash"></i>
        </button>
    </div>
    <table id="territoryListTable"
           data-toggle="table"
           data-url="{{ path('get_congregation_territories', {'congregation': congregation.id, 'type': type}) }}"
           data-flat="true"
           data-search="true"
           data-classes="table table-hover table-no-bordered"
           data-striped="true"
           data-mobile-responsive="true"
           data-toolbar="#territoryListToolbar"
           data-row-style="rowStyle"
           data-pagination="true"
           data-side-pagination="server"
           data-page-list="[10, 20, 40, 60]"
            >
        <thead>
            <tr>
                <th data-field="state" data-checkbox="true"></th>
                <th data-field="id" data-visible="false"></th>
                <th data-sortable="true" data-field="number">{% trans %}jwkh.entity.territory.number{% endtrans %}</th>
                <th data-sortable="true" data-formatter="phoneStyle" data-field="phone" data-align="center"><span class="glyphicon glyphicon-phone-alt"></span></th>
                <th data-sortable="true" data-field="name">{% trans %}jwkh.entity.territory.name{% endtrans %}</th>
                <th data-sortable="true" data-field="area">{% trans %}jwkh.entity.territory.area{% endtrans %}</th>
                <th data-sortable="true" data-field="formattedBorrowDate">{% trans %}jwkh.entity.territory.borrow_date{% endtrans %}</th>
                <th data-sortable="true" data-field="publisher.fullName">{% trans %}jwkh.entity.publisher.last_name{% endtrans %}</th>
                <th data-sortable="true" data-field="formattedReturnDate">{% trans %}jwkh.entity.territory.return_date{% endtrans %}</th>
                <th data-sortable="true" data-formatter="boolStyle" data-field="notified" data-align="center">{% trans %}jwkh.entity.territory.notified{% endtrans %}</th>
            </tr>
        </thead>
    </table>
    <script>
        $(document).ready(function () {
            var modal = $('#pageModal');

            $('#territoryListTable')
                .on('click-row.bs.table', function (e, row, $element) {
                    var url = '{{ path('kingdom_hall_territories_view', {'congregationCode': congregation.code, 'territoryId': '{territoryId}'}) }}'.replace('%7BterritoryId%7D', row.id);
                    window.location = url;
                });

            $('#newTerritoryButton').on('click', function(e) {
                modal.load('{{ path('kingdom_hall_territories_new', {'congregationCode': congregation.code}) }}', function(data) {
                    modal.modal();
                });
            });

            $('#removeTerritoryButton').on('click', function() {
                var rows = $('#territoryListTable').bootstrapTable('getSelections');
                if (rows.length > 0) {
                    var ids = rows.map(function (row) {
                        return row.id;
                    });
                    var url = '{{ path('delete_congregation_territories', {'congregation': congregation.id, 'ids': '{ids}'}) }}'.replace('%7Bids%7D', ids.join(','));
                    modal.load('{{ path('kingdom_hall_modal_confirmation', { 'header': 'jwkh.territories.remove_confirmation.header', 'message': 'jwkh.territories.remove_confirmation.message' }) }}'.replace('&amp;', '&'), function () {
                        modal.modal();
                        $('button.action-confirm', modal).on('click', function () {
                            $.ajax({
                                url: url,
                                type: 'DELETE',
                                success: function () {
                                    modal.modal('hide');
                                }
                            });
                        });
                    });
                }
            });

            modal.on('hide.bs.modal', function(e) {
                $('#territoryListTable').bootstrapTable('refresh');
            });

        });

        function rowStyle(row, index) {
            return {
                classes: row.status
            };
        }

        function boolStyle(value, row, index) {
            var icon = value == row.status ? "ok" : "remove";
            if (row.status == "warning" || row.status == "danger") {
                return "<span class=\"glyphicon glyphicon-" + icon + "\"></span>";
            } else {
                return "";
            }
        }

        function phoneStyle(value, row, index) {
            return value ? "<span class=\"glyphicon glyphicon-phone-alt\"></span>" : "-";
        }

    </script>
{% endblock content_body %}

{% block content_right %}
    <a href="{{ path('kingdom_hall_territories_s13', {'congregationCode': congregation.code }) }}" class="btn btn-default btn-block"><span class="glyphicon glyphicon-file" aria-hidden="true"><span class="btn-text"> {% trans %}jwkh.territories.list.s13{% endtrans %}</span></span></a>
{% endblock content_right %}

