<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}JW Kingdom Hall{% endblock title %}</title>

    {% block stylesheets %}
        {#{% stylesheets#}
        {#'@KingdomHallMainBundle/Resources/public/css/jwkh-print.css'#}
        {#%}#}
        {#<link rel="stylesheet" href="{{ asset_url }}" />#}
        {#{% endstylesheets %}  #}
    {% endblock %}
    <style type="text/css">
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            width: 148mm;
        }

        h3 {
            color: gray;
        }

        .map {
            max-height: 100mm;
            max-width: 148mm;
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
        }

        .language {
            color: red;
            font-weight: bold;
        }

        .novisit {
            width: 100%;
        }

        .novisit thead tr {
            color: gray;
            text-align: left;
        }

        .novisit thead tr th {
            border-bottom: solid 2px lightgray;
        }

    </style>
</head>
<body>
    <div>
        <img class="map" src="{{ vich_uploader_asset(territory, 'mapFile') }}" alt="{{ territory.name }}" />
    </div>
    <div>
        <h3>{% trans %}jwkh.territories.view.languages{% endtrans %}</h3>
        <p class="language">
            {{ territory.excludedLanguages|split(',')|sort|join(', ') }}
        </p>
    </div>
    <div>
        <h3>{% trans %}jwkh.territories.view.novisit{% endtrans %}</h3>
        <table class="novisit">
            <thead>
            <tr>
                <th>{% trans %}jwkh.entity.territory_no_visit.name{% endtrans %}</th>
                <th>{% trans %}jwkh.entity.territory_no_visit.address{% endtrans %}</th>
                <th>{% trans %}jwkh.entity.publisher.entity{% endtrans %}</th>
                <th>{% trans %}jwkh.entity.territory_no_visit.date{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for novisit in territory.noVisits %}
                <tr>
                    <td>{{ novisit.name }}</td>
                    <td>{{ novisit.address }}</td>
                    <td>{{ novisit.publisher.fullName }}</td>
                    <td>{{ novisit.date|date(congregation_setting('date_format_twig')) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>