<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}JW Kingdom Hall{% endblock title %}</title>

    <style type="text/css">
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            width: 135mm;
            font-size: small;
        }

        h3 {
            color: gray;
            text-decoration: underline;
        }

        .map {
            max-height: 100mm;
            max-width: 135mm;
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
        }

        .language {
            color: red;
            font-weight: bold;
        }

        .novisit {
            width: 100%;
        }

        .novisit thead tr {
            color: gray;
            text-align: left;
        }

        .novisit thead tr th {
            border-bottom: solid 2px lightgray;
        }

        .novisit tbody tr td {
            border-bottom: solid 1px lightgray;;
        }

    </style>
</head>
<body>
    <div>
        <img class="map" src="{{ vich_uploader_asset(territory, 'mapFile') }}" alt="{{ territory.name }}" />
    </div>
    <div>
        <h3>{% trans %}jwkh.territories.view.languages{% endtrans %}</h3>
        <p class="language">
            {{ territory.excludedLanguages|split(',')|sort|join(', ') }}
        </p>
        <p><i>{% trans %}jwkh.territories.print.language_instructions{% endtrans %}</i></p>
    </div>
    <div>
        <h3>{% trans %}jwkh.territories.view.novisit{% endtrans %}</h3>
        <table class="novisit">
            <thead>
            <tr>
                <th>{% trans %}jwkh.entity.territory_no_visit.name{% endtrans %}</th>
                <th>{% trans %}jwkh.entity.territory_no_visit.address{% endtrans %}</th>
                <th>{% trans %}jwkh.entity.publisher.entity{% endtrans %}</th>
                <th>{% trans %}jwkh.entity.territory_no_visit.date{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% set rows = territory.noVisits.values %}
            {% for i in 0..6 %}
                {% if rows[i] is defined %}
                    <tr>
                        <td>{{ rows[i].name }}</td>
                        <td>{{ rows[i].address }}</td>
                        <td>{{ rows[i].publisher.fullName }}</td>
                        <td>{{ rows[i].date|date(congregation_setting('date_format_twig')) }}</td>
                    </tr>
                {% else %}
                    <tr><td>&nbsp;</td><td></td><td></td><td></td></tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>