{% extends app.request.isXmlHttpRequest() ? "@KingdomHallMain/Layout/layout-modal.html.twig" : "@KingdomHallMain/Layout/layout-page.html.twig" %}

{% block content_header %}
    {{ territory.number }} - {{ territory.name }} ({{ territory.area }})
{% endblock content_header %}

{% block content_body %}
    {% if territory.phone %}
        <p><span class="glyphicon glyphicon-phone-alt"> {% trans %}jwkh.territories.view.phone{% endtrans %}</span> </p>
    {% endif %}
    {% if territory.commercial %}
        <p><span class="glyphicon"><img src="{{ asset('bundles/kingdomhallmain/images/icons/glyphicons-90-building.png') }}" class="icon" style="margin-bottom: 5px"/> {% trans %}jwkh.territories.view.commercial{% endtrans %}</span></p>
    {% endif %}
    <p><img class="icon" src="{{ asset('bundles/kingdomhallmain/images/icons/glyphicons-44-group.png') }}"/> {% transchoice territory.workload with {'%number%': territory.workload} %}jwkh.territories.view.workload{% endtranschoice %}</p>
    <div class="panel panel-default">
        <div class="panel-heading">
            {% trans %}jwkh.territories.view.map{% endtrans %}
        </div>
        <div class="panel-body">
            <img class="img-responsive" src="{{ vich_uploader_asset(territory, 'mapFile') }}" alt="{{ territory.name }}" />
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            {% trans %}jwkh.territories.view.languages{% endtrans %}
        </div>
        <div class="panel-body">
            {% for language in territory.excludedLanguages|split(',')|sort %}
                <h4 style="display: inline-block;"><span class="label label-info">{{ language }}</span></h4>
            {% endfor %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            {% trans %}jwkh.territories.view.novisit{% endtrans %}
        </div>
        <div class="panel-body">
            <div id="territoryNoVisitToolbar" class="btn-group ">
                <button type="button" class="btn btn-default" id="addNoVisitButton">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
                <button id="editNoVisitButton" type="button" class="btn btn-default">
                    <i class="glyphicon glyphicon-edit"></i>
                </button>
                <button type="button" class="btn btn-default" id="removeNoVisitButton">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
            </div>
            <table id="territoryNoVisitTable"
                   data-toggle="table"
                   data-classes="table table-hover table-no-bordered"
                   data-striped="true"
                   data-toolbar="#territoryNoVisitToolbar"
                   data-mobile-responsive="true"
                   data-select-item-name="selectedNoVisit"
                   data-click-to-select="true"
                    >
                <thead>
                <tr>
                    <th data-radio="true"></th>
                    <th data-field="id" data-visible="false"></th>
                    <th>{% trans %}jwkh.entity.territory_no_visit.name{% endtrans %}</th>
                    <th>{% trans %}jwkh.entity.territory_no_visit.address{% endtrans %}</th>
                    <th>{% trans %}jwkh.entity.publisher.entity{% endtrans %}</th>
                    <th>{% trans %}jwkh.entity.territory_no_visit.date{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for novisit in territory.noVisits %}
                    <tr>
                        <td></td>
                        <td>{{ novisit.id }}</td>
                        <td>{{ novisit.name }}</td>
                        <td>{{ novisit.address }}</td>
                        <td>{{ novisit.publisher.fullName }}</td>
                        <td>{{ novisit.date|date(congregation_setting('date_format_twig')) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            {% trans %}jwkh.territories.view.history{% endtrans %}
        </div>
        <div class="panel-body">
            <div id="territoryHistoryToolbar" class="btn-group ">
                <button id="editHistoryButton" type="button" class="btn btn-default">
                    <i class="glyphicon glyphicon-edit"></i>
                </button>
                <button type="button" class="btn btn-default" id="removeHistoryButton">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
            </div>
            <table id="territoryHistoryTable"
                   data-toggle="table"
                   data-classes="table table-hover table-no-bordered"
                   data-striped="true"
                   data-select-item-name="selectedHistory"
                   data-click-to-select="true"
                   data-mobile-responsive="true">
                <thead>
                    <tr>
                        <th data-radio="true"></th>
                        <th data-field="id" data-visible="false"></th>
                        <th>{% trans %}jwkh.entity.publisher.entity{% endtrans %}</th>
                        <th>{% trans %}jwkh.entity.territory_history.borrow_date{% endtrans %}</th>
                        <th>{% trans %}jwkh.entity.territory_history.return_date{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for history in territory.histories %}
                        <tr>
                            <td></td>
                            <td>{{ history.id }}</td>
                            <td>{{ history.publisher.firstName }}&nbsp;{{ history.publisher.lastName }}</td>
                            <td>{% if history.borrowDate %}{{ history.borrowDate|date(congregation_setting('date_format_twig')) }}{% else %}-{% endif %}</td>
                            <td>{% if history.returnDate %}{{ history.returnDate|date(congregation_setting('date_format_twig')) }}{% else %}-{% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content_body %}

{% block content_right %}
    <button type="button" class="btn btn-primary btn-back"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"><span class="btn-text"> {% trans %}jwkh.common.back{% endtrans %}</span></span></button>
    {% if is_granted('ROLE_TERRITORY') %}
        <button type="button" class="btn btn-default" id="editTerritoryButton"><span class="glyphicon glyphicon-edit" aria-hidden="true"><span class="btn-text"> {% trans %}jwkh.common.edit{% endtrans %}</span></span></button>
    {% endif %}
    {% if territory.publisher %}
        <button type="button" class="btn btn-default" id="returnTerritoryButton"><span class="glyphicon glyphicon-open-file" aria-hidden="true"><span class="btn-text"> {% trans %}jwkh.common.return{% endtrans %}</span></span></button>
        <button type="button" class="btn btn-default" id="forwardTerritoryButton"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"><span class="btn-text"> {% trans %}jwkh.common.forward{% endtrans %}</span></span></button>
    {% else %}
        <button type="button" class="btn btn-default {% if not territory.available %}disabled{% endif %}" id="borrowTerritoryButton"><span class="glyphicon glyphicon-save-file" aria-hidden="true"><span class="btn-text"> {% trans %}jwkh.common.borrow{% endtrans %}</span></span></button>
    {% endif %}
    <button type="button" class="btn btn-default btn-print"><span class="glyphicon glyphicon-print" aria-hidden="true"><span class="btn-text"> {% trans %}jwkh.common.print{% endtrans %}</span></span></button>


    <script>
        $(document).ready(function () {
            var modal = $('#pageModal');

            $('.btn-print').on('click', function () {
                var url = '{{ path('kingdom_hall_territories_print', {'congregationCode': territory.congregation.code, 'territoryId': territory.id}) }}';
                window.location = url;
            });

            $('.btn-back').on('click', function () {
                var url = '{{ path('kingdom_hall_territories_list', {'congregationCode': territory.congregation.code, 'type': territory.type}) }}';
                window.location = url;
            });

            $('#editTerritoryButton').on('click', function (e) {
                modal.load('{{ path('kingdom_hall_territories_edit', {'congregationCode': territory.congregation.code, 'territoryId': territory.id}) }}', function (data) {
                    modal.modal();
                });
            });

            $('#borrowTerritoryButton').on('click', function (e) {

                {% if not territory.available %}
                    modal.load('{{ path('kingdom_hall_modal_info', { 'message': 'jwkh.territories.borrow.unavailable' }) }}'.replace('&amp;', '&'), function () {
                        modal.modal();
                    });
                {% else %}
                    modal.load('{{ path('kingdom_hall_territories_borrow', {'congregationCode': territory.congregation.code, 'territoryId': territory.id}) }}', function (data) {
                        modal.modal();
                    });
                {% endif %}

            });

            $('#returnTerritoryButton').on('click', function (e) {
                modal.load('{{ path('kingdom_hall_territories_return', {'congregationCode': territory.congregation.code, 'territoryId': territory.id}) }}', function (data) {
                    modal.modal();
                });
            });

            $('#forwardTerritoryButton').on('click', function (e) {
                modal.load('{{ path('kingdom_hall_territories_forward', {'congregationCode': territory.congregation.code, 'territoryId': territory.id}) }}', function (data) {
                    modal.modal();
                });
            });

            $('#addNoVisitButton').on('click', function (e) {
                modal.load('{{ path('kingdom_hall_territories_novisit_edit', {'congregationCode': territory.congregation.code, 'territoryId': territory.id}) }}', function (data) {
                    modal.modal();
                });
            });

            $('#editNoVisitButton').on('click', function(e) {
                var rows = $('#territoryNoVisitTable').bootstrapTable('getSelections');
                if (rows.length > 0) {
                    var id = rows[0].id;
                    modal.load('{{ path('kingdom_hall_territories_novisit_edit', {'congregationCode': congregation.code, 'territoryId': territory.id, 'noVisitId': '{id}'}) }}'.replace('%7Bid%7D', id), function (data) {
                        modal.modal();
                    });
                }
            });

            $('#removeNoVisitButton').on('click', function (e) {
                var rows = $('#territoryNoVisitTable').bootstrapTable('getSelections');
                if (rows.length > 0) {
                    var ids = rows.map(function (row) {
                        return row.id;
                    });
                    var url = '{{ path('delete_congregation_territory_no_visits', {'congregation': congregation.id, 'territory': territory.id, 'ids': '{ids}'}) }}'.replace('%7Bids%7D', ids.join(','));
                    modal.load('{{ path('kingdom_hall_modal_confirmation', { 'message': 'jwkh.territories.novisit.remove_confirmation.message' }) }}'.replace('&amp;', '&'), function () {
                        modal.modal();
                        $('button.action-confirm', modal).on('click', function () {
                            $.ajax({
                                url: url,
                                type: 'DELETE',
                                success: function () {
                                    modal.modal('hide');
                                }
                            });
                        });
                    });
                }
            });

            $('#editHistoryButton').on('click', function(e) {
                var rows = $('#territoryHistoryTable').bootstrapTable('getSelections');
                if (rows.length > 0) {
                    var id = rows[0].id;
                    modal.load('{{ path('kingdom_hall_territories_history_edit', {'congregationCode': congregation.code, 'territoryId': territory.id, 'historyId': '{id}'}) }}'.replace('%7Bid%7D', id), function (data) {
                        modal.modal();
                    });
                }
            });

            $('#removeHistoryButton').on('click', function (e) {
                var rows = $('#territoryHistoryTable').bootstrapTable('getSelections');
                if (rows.length > 0) {
                    var ids = rows.map(function (row) {
                        return row.id;
                    });
                    var url = '{{ path('delete_congregation_territory_histories', {'congregation': congregation.id, 'territory': territory.id, 'ids': '{ids}'}) }}'.replace('%7Bids%7D', ids.join(','));
                    modal.load('{{ path('kingdom_hall_modal_confirmation', { 'message': 'jwkh.territories.history.remove_confirmation.message' }) }}'.replace('&amp;', '&'), function () {
                        modal.modal();
                        $('button.action-confirm', modal).on('click', function () {
                            $.ajax({
                                url: url,
                                type: 'DELETE',
                                success: function () {
                                    modal.modal('hide');
                                }
                            });
                        });
                    });
                }
            });

            modal.on('hide.bs.modal', function (e) {
                if (e.target.id == 'pageModal') {
                    location.reload();
                }
            });
        });
    </script>
{% endblock content_right %}