{% extends app.request.isXmlHttpRequest() ? "@KingdomHallMain/Layout/layout-modal.html.twig" : "@KingdomHallMain/Layout/layout-page.html.twig" %}
{% form_theme form '@KingdomHallMain/Form/fields.html.twig' %}

{% block content_header %}
    {% trans %}jwkh.admin.users.edit.content_header{% endtrans %}
{% endblock content_header %}

{% block content_body %}
<form action="{{ path('fos_user_profile_edit', {'userId': user.id}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit form-horizontal" novalidate="novalidate">
    {% for child in form.children %}
        {% if child.vars.name == 'roles' %}
            {% for role in child.children %}
                {{ form_row(role, {'label': child.vars.label}) }}
            {% endfor %}
        {% else %}
            {{ form_row(child) }}
        {% endif %}
    {% endfor %}
    {{ form_rest(form) }}
</form>
{% endblock content_body %}

{% block content_footer %}
    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}jwkh.common.cancel{% endtrans %}</button>
    <button type="button" class="btn btn-primary action-save" data-loading-text="{% trans %}jwkh.common.sending{% endtrans %}...">{% trans %}jwkh.common.save{% endtrans %}</button>
{% endblock content_footer %}